body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3b3b3b;
  font-size: 15px;
  /* line-height: 1;
  font-weight: 500; */
  margin: 0;
  padding: 0;
  /* background-color: #141e27; */
  overflow-x: hidden;
}
*,
::after,
::before {
  box-sizing: border-box;
}

/* #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
#root > div:not(.alert) {
  flex-grow: 1;
}
#root > div:not(.alert) > :last-child:not(.docs) {
  padding-bottom: 10rem;
} */
.pt-1 {
  padding-top: 3rem;
}
.pt-2 {
  padding-top: 6rem;
}
.pb-1 {
  padding-bottom: 3rem;
}
.pb-2 {
  padding-bottom: 6rem;
}
p {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #000000;
}
[class*="container"] {
  margin: 0 auto;
  padding-right: 1.33rem;
  padding-left: 1.33rem;
}

[class*="col"] {
  flex-basis: 100%;
  padding: 0 0.665rem;
}
.container {
  position: relative;
  max-width: 66rem;
}
.container-large {
  position: relative;
  max-width: 82em;
}

.col-xs-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.col-xs-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.col-xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.col-xs-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.col-xs-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 40em) {
  html,
  body {
    font-size: 14px;
  }
  .col-sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-auto {
    flex-basis: auto;
  }
}

@media (min-width: 60em) {
  html,
  body {
    font-size: 15px;
  }
  .col-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-auto {
    flex-basis: auto;
  }
}

@media (min-width: 82em) {
  html,
  body {
    font-size: 16px;
  }
  .col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-auto {
    flex-basis: auto;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-right: -0.665rem;
  margin-left: -0.665rem;
}
[class*="col"] {
  flex-basis: 100%;
  padding: 0 0.665rem;
}
.col-sm-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.content-center {
  margin: auto;
}
/* globals */
/* header */
header {
  padding: 1rem 0;
  background: #1652f0;
  min-height: 80px;
  display: block;
}

header .brand {
  color: #dde8ee;
  margin-right: 0.3rem;
}
.brand {
  display: inline-block;
}

header .btn {
  margin: 0px 16px 0px 8px;
  min-width: 0px;
  appearance: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: currentcolor none medium;
  word-break: keep-all;

  border-radius: 4px;
  padding: 4px 16px;
  min-height: 24px;
  border: medium none;

  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  display: inline-flex;
}
@media (max-width: 40em) {
  header .btn {
    display: none;
  }
}
header .btn.yellow {
  background-image: linear-gradient(
    rgb(248, 209, 47) 0%,
    rgb(240, 185, 11) 100%
  );
  color: rgb(33, 40, 51);
}
header .btn.white {
  background: #f9fafb;
  color: #1652f0;
}
.hollow {
  background: none;
  border-color: #546e7a;
  color: #90a4ae;
}
header .logo {
  z-index: 25;
}
.row.align-middle {
  align-items: center;
}
/* header */
/* spinner loader */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #1652f0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Hero */
#Cryptos .hero {
  background-color: #1652f0;
}
section.hero {
  margin-bottom: -12rem;
  padding: 1rem 0 15rem;
}

#Cryptos .hero h2 {
  color: #ffffff;
}

.hero h2 {
  min-width: 0;
  max-width: 41.25rem;
  font-size: 3.75rem;
  font-weight: 900;
  margin-top: 1.5rem;
}
@media (max-width: 40em) {
  .hero h2 {
    font-size: 2rem;
  }
}
.hero h3 {
  padding-bottom: 2rem;
}
.bouton {
  background-image: linear-gradient(
    rgb(248, 209, 47) 0%,
    rgb(240, 185, 11) 100%
  );
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  outline: currentcolor none medium;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  font-size: 16px;
  margin-top: 4rem;
}
/* Globals */
.panel {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgb(16 21 24 / 5%);
  border-radius: 4px;
  margin-bottom: 1.33rem;
}
.panel-header {
  display: flex;
  flex-flow: inherit;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 1rem 1.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#Cryptos h4 {
  margin-bottom: 0;
}
.panel-header h4 {
  margin: 0;
}

#Cryptos .panel .totals-content {
  padding: 0 1.995rem;
}

#Cryptos .cryptos {
  /* background-color: #070a0e; */
  padding-bottom: 4.5rem;
}

#Cryptos .panel .totals-content .text-largest {
  display: flex;
  align-items: flex-end;
  margin: 1.995rem 0;
}
.text-largest {
  font-size: 1.4em;
}
#Cryptos span.change.up {
  color: #00d395;
}

#Cryptos span.change {
  margin-left: 0.5em;
  font-size: 0.8em;
}

#Cryptos .panel .totals-content .bars-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 0 1.995rem;
}

label {
  font-weight: 600;
  font-size: 12px;
  color: #aab8c1;
}
.market-bar {
  font-size: 0.9rem;
  margin-top: 1rem;
}
.market-bar.supply {
  color: #00d395;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.market-bar.supply .bar {
  background: #d4f6ec;
}
.market-bar .bar {
  width: 100%;
  height: 4px;
  margin-top: 0.5rem;
}
#Cryptos .panel .totals-content .bars-row .market-bar .bar {
  border-radius: 4px;
}
.market-bar.supply .fill {
  background: #00d395;
}
#Cryptos .panel .totals-content .bars-row .market-bar .fill {
  border-radius: 4px;
}
.market-bar .fill {
  height: 4px;
}

#Cryptos .panel .totals-content .demi.row {
  padding: 1.33rem 0 1.995rem;
}
.text-large {
  font-size: 1.2em;
}
#Cryptos .total {
  font-size: 1.2em;
}
#Cryptos .panel .totals-content .demi.row .text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.panel-labels {
  display: flex;
  padding: 1rem 1.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
}
#Cryptos .panel__labels [class*="col"] {
  padding: 0 0;
}

#Cryptos .asset {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.25rem 1.75rem;
  border-left: 2px solid transparent;
  padding-left: 1.625rem;
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  transition: none;
  flex-wrap: nowrap;
}
#Cryptos a.asset:hover {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.25rem 1.75rem;
  border-left: 2px solid #f6cb26;
  padding-left: 1.625rem;
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  transition: none;
  flex-wrap: nowrap;
  background: #dde8ee;
}
.identity {
  display: flex;
  align-items: center;
}
#Cryptos .asset .icon {
  width: 2.4rem;
  height: 2.4rem;
}
.identity .icon {
  margin-right: 1rem;
}
.icon {
  flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  min-width: 1.8rem;
  min-height: 1.8rem;
}
#Cryptos .asset span.change,
#Cryptos .asset .symbol {
  display: block;
  margin-top: 8px;
  font-size: 0.9em;
}
#Cryptos .asset .symbol {
  margin: 0;
}
.identity .symbol {
  margin-left: 1rem;
  color: #acbbc2;
}

/* Wrapper Home */
/* Home Hero */

/* .hero {
  background: #070a0e;
} */
/* Home Hero */
/* Home Cryptocurrency List */

/* Home Crypto Title */
#Cryptos .section-header {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

#Cryptos .asset .text-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#Cryptos .asset [class*="col"] {
  padding: 0 0;
}

/* Home Crypto Card */
#Cryptos .cryptos-card {
  background-color: #141e27;
  box-shadow: 0px 2px 4px rgba(16, 21, 24, 0.05);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 1.25rem;
}

/* Home Crypto Card Text */

#Cryptos .cryptos-card__text-section {
  min-height: 5.0625rem;
}

#Cryptos .cryptos-card__text {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1;
  margin: 0;
}

#Cryptos .cryptos-card__text-section > :not(:first-child) {
  margin-top: 0.75rem;
}

#Cryptos .cryptos-card__subtext-section {
  display: flex;
  margin-right: -1.25rem;
}

#Cryptos .cryptos-card__text {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1;
  margin: 0;
}
#Cryptos
  .cryptos-card__subtext-section
  .cryptos-card__text
  + .cryptos-card__subtext {
  align-self: flex-end;
  margin-bottom: 0.125rem;
  margin-left: 0.75rem;
}
#Cryptos .cryptos-card__subtext {
  color: #aab8c1;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1;
  margin: 0;
}
#Cryptos .cryptos-card__icon {
  align-self: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-top: 2rem;
}
.cryptos-card__subtext--green {
  color: #00d395;
}
.cryptos-card__subtext--red {
  color: #e17157;
  font-size: 0.9em;
}
.--green {
  color: #00d395;
  margin-left: 0.75rem;
}
.--red {
  color: #e17157;
  margin-left: 0.75rem;
}
.cryptos-chart__subtext--green {
  color: #00d395;
  font-size: 0.8125rem;
}
.cryptos-chart__subtext--red {
  color: #e17157;
}

/* detailsChart component */

.details-price {
  color: #aab8c1;
  font-size: xx-large;
  padding-bottom: 0.5em;
}

.details-price-wrapper {
  margin-top: 2em;
  padding-bottom: 2em;
}

.details-icon {
  width: 4rem;

  margin-top: 2em;
  border-radius: 50%;
}
.chart-container {
  display: flex;
  align-items: center;
  padding-top: 2em;
}
canvas {
  margin: auto;
  padding-top: 3em;
  width: 45vw;
}

.details-wrapper-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.details-name {
  display: flex;
  -moz-box-align: baseline;
  align-items: baseline;
  flex-wrap: wrap;
}

.details-name h1 {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

/* .chartjs-render-monitor {
  width: 50rem !important;
  height: 55em !important;
} */
/* Globals Component */

.GlobalsIcon {
  width: 20rem;
  height: 20rem;
  margin-top: 5rem;
  color: #1652f0;
}
.iconglobals {
  display: flex;
  justify-content: center;
  align-content: center;
}
.container.globals-info {
  text-align: center;
  color: #ffffff;
}

.container.globals-info h4 {
  font-size: 1.5rem;
}
.container.globals-info h1 {
  font-size: 3rem;
}

/* CoinData component */
#details-page {
  /* padding-top: 109px;
  padding-bottom: 45px;
  background: #070a0e;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 0; */
  background-color: #070a0e;
  min-height: 100vh;
  padding-top: 4rem;
}
#details-page .coindata {
  margin-top: 3.75rem;
}
.coindata p {
  color: #ffffff;
}
#details-page .coindata-cards {
  margin-bottom: 1.33rem;
}
#details-page .coindata-cards_background {
  background-color: #ffffff;
  height: 11.375rem;
  width: 100%;
}

#details-page .coindata-cards_content {
  display: flex;
  flex-direction: column;
  height: 11.375rem;
  background-color: transparent;
  color: #657786;
  justify-content: flex-end;
  align-items: center;
  padding: 1.875rem;
}

#details-page .coindata-cards_img {
  margin-bottom: 3rem;
  transform: translateY(20%);
}

/* Footer */
footer {
  padding: 1.33rem 0;
  background: #070a0e;
}

footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.33rem;
  color: #acbbc2;
  font-size: 0.9rem;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width: 40em) {
  footer .bottom {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    margin-top: 0;
  }
}
footer .bottom label:first-of-type {
  color: #657786;
}
@media (max-width: 40em) {
  footer label {
    margin-left: 0.9975rem;
  }
}

/* details */

#MarketDetail .hero {
  padding-top: 3.15rem;
  /* background-color: #7512f7; */
  background-color: #f9fafb;
}

#MarketDetail .hero .breadcrumb {
  display: flex;
  color: #070a0e;
  margin-bottom: 1.125rem;
}

#MarketDetail .hero .breadcrumb__text {
  font-size: 0.875rem;
  line-height: 1;
}

#MarketDetail .hero .row {
  margin: 0;
}

.row.align-between {
  justify-content: space-between;
}

#MarketDetail .identity .icon {
  height: 2.875rem;
  width: 2.875rem;
}

.identity .icon {
  margin-right: 1rem;
}

#MarketDetail .identity .name {
  /* color: #ffffff; */
  font-size: 1.75rem;
}

#MarketDetail .hero .breadcrumb-link {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
}

#MarketDetail .hero .breadcrumb > * {
  margin: 0 0.3rem;
}

#MarketDetail .hero .breadcrumb-separator {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  transform: rotate(-135deg);
  margin-top: 3px;
  border-color: #657786;
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}

#MarketDetail .balance {
  min-width: 7rem;
  color: #070a0e;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0 0.5rem;
  text-align: center;
}

#MarketDetail .balance .subtitle {
  /* color: #ffffff; */
  font-size: 1.125rem;
  margin-top: 0.5rem;
  text-align: center;
}

#MarketDetail .graph__tab-group {
  width: 100%;
  margin-top: 2.375rem;
}

.tab-group {
  display: inline-block;
}
.tab-group__options {
  width: 100%;
  display: inline-flex;
  z-index: 1;
}

#MarketDetail .graph__tab-group .tab-group__option {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  margin-left: 0;
  padding: 0.875rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 9.6875rem;
}

.tab-group__option--active--green {
  color: #00d395;
  border-color: #00d395;
}
.tab-group__option--active {
  color: #070a0e;
  padding: 0.5rem 0;
  border-bottom: 2px solid #070a0e;
}
.tab-group__option {
  cursor: pointer;
  color: #ccd6dd;
  font-size: 1.25rem;
  height: 100%;
  padding: 0.5rem 0;
}

.tab-group__option--landing-grey {
  color: #657786;
}
#MarketDetail .graph__tab-group .tab-group__line {
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  margin-top: -1px;
}
.tab-group__line {
  background-color: #ccd6dd;
  height: 2px;
  width: 100%;
  margin-top: -2px;
  z-index: 0;
}
.tab-group__option:not(:first-child) {
  margin-left: 1.5rem;
}

/* CoinData */

#MarketDetail .calculation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.5rem 1.75rem;
  color: #657786;
}

#MarketDetail .calculation .description {
  color: #aab8c1;
}
.col-sm-6.coindata {
  margin: auto;
}

#Marketdetail {
  overflow-y: hidden;
}

/*  Mockup Section */

.iphone,
.ipad {
  display: block;
  color: #fff;
  text-align: center;
  font-family: "SF Pro Display", Helvetica Neue, Arial, sans-serif;
  letter-spacing: -0.022em;
  font-size: 2.5vmin;
  text-shadow: 0 0 0.5em #000;
  background-color: #000;
  background-size: auto 200%, cover;
  background-repeat: no-repeat, no-repeat;
  border: solid #111;
  margin-bottom: 2em;

  box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), 0 0 0 0.5px #000 inset;
  transition: all 0.1s ease;
  background-position: 50% 100%, center;
  transform-origin: bottom center;
}
.iphone:hover,
.ipad:hover {
  color: transparent;
  text-shadow: 0 0 0em transparent;
  background-position: 50% -100%, center center;
  transition: all 0.15s ease;
  line-height: 0vmin;
}

.iphone {
  width: 23vmin;
  height: 51vmin;
  line-height: 51vmin;
  border-width: 1.5vmin;
  border-radius: 4vmin;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #111),
    url(https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8dHJhZGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  z-index: 200;
}

.ipad {
  margin-left: 2em;
  height: 85.8vmin;
  width: 60vmin;
  line-height: 85.8vmin;
  border-width: 3vmin;
  border-radius: 4vmin;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #111),
    url("https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8dHJhZGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  z-index: 100;
}

.mockup {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mock {
  background: #1652f0;
}

.center-block {
  text-align: center;
}

.center-block h2 {
  box-sizing: border-box;

  min-width: 0;
  color: #fafafa;
  text-align: center;

  font-weight: 900;
  margin-top: 4rem;
  margin-bottom: 0;
}

.app-btn {
  width: 45%;
  max-width: 160px;
  color: #fff;
  margin: 20px 10px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Lucida Grande", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.app-btn.blu {
  background-color: #101010;
  transition: background-color 0.25s linear;
}
.app-btn.blu:hover {
  background-color: #454545;
}

.app-btn svg {
  width: 20%;
  text-align: center;
  font-size: 28px;
  margin-right: 7px;
}

.app-btn .big-txt {
  font-size: 17px;
  text-transform: capitalize;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-btns p {
  font-size: 0.7rem;
}
